<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../js/sing-up.js"></script>
    <title>Mega rocket SA</title>
</head>

<body>
    <header class="header-login">
        <h2 class="title-login">
            Mega rocket SA
        </h2>
    </header>
    <main>
        <h1>Register</h1>
        <form >
            <div class="form-div">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                    <span id="error-name" class="error"></span>
                </div>
                <div>
                    <label for="lastName">Lastname</label>
                    <input type="text" name="lastName" id="lastName">
                    <span id="error-lastName" class="error"></span>
                </div>
                <div>
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" id="dni">
                    <span id="error-dni" class="error"></span>
                </div>
                <div>
                    <label for="birthDate">Birth Day</label>
                    <input type="text" name="birthDate" id="birthDate">
                    <span id="error-birthDate" class="error"></span>
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone">
                    <span id="error-phone" class="error"></span>
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address">
                    <span id="error-address" class="error"></span>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location">
                    <span id="error-location" class="error"></span>
                </div>
                <div>
                    <label for="zipCode">Zip code</label>
                    <input type="text" name="zipCode" id="zipCode">
                    <span id="error-zipCode" class="error"></span>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                    <span id="error-email" class="error"></span>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <span id="error-password" class="error"></span>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword">
                    <span id="error-confirmPassword" class="error"></span>
                </div>
            </div>
            <input type="submit" value="Register">
            <div class="div-nav">
                <p><a href="index.html">Home</a></p>
                <p><a href="login.html">Login</a></p>
            </div>

        </form>
        <img class="logo" src="../../assets/img/body/logo.png" alt="Logo de la paguina">
    </main>
</body>

</html>