header {
  position: fixed;
  text-align: center;
  height: 118px;
  width: 100vw;
  background-color: #373867;
}
header h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  display: inline-block;
  margin-top: 57px;
}
main {
  padding-top: 118px;
}
aside {
  position: fixed;
  height: 100vh;
  width: 335px;
  background-color: #f6f6f6;
}
aside #searchSidebar {
  width: 255px;
  height: 36px;
  margin-left: 40px;
  margin-top: 16px;
  margin-bottom: 15px;
  background: #ffffff;
  border-radius: 4px;
}
nav {
  margin-bottom: 450px;
}
nav div {
  margin-bottom: 43px;
}
nav input {
  display: inline-block;
  vertical-align: middle;
  width: 238px;
  height: 49px;
  margin: 0px;
  background-color: #aace9b;
  border-radius: 10px;
  border: none;

  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
nav img {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 39px;
  margin-left: 15px;
  margin-right: 22px;
}
aside nav :nth-child(3) img {
  width: 44px;
  height: 29px;
}
#asideP {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 45px;
}
#sidebar ul {
  margin-left: 37px;
}
#sidebar li {
  margin-bottom: 39px;
}
#sidebar li a,
#sidebar li p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: bold;
}
#sidebar a {
  text-decoration: none;
}
#sidebar img {
  width: 30px;
  height: 30px;
}
#sidebar a,
#sidebar img,
#sidebar p {
  vertical-align: middle;
}
#cajaP {
  vertical-align: top;
  display: inline-block;
}
section {
  margin-left: 335px;
  text-align: center;
}
.separador {
  width: 500px;
  height: 5px;
  background-color: #bebebe;
  margin: auto;
}
#home {
  margin-top: 25px;
}
#home h1 {
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #373867;
  margin-bottom: 25px;
  max-width: 500px;
  display: block;
}
#home h2 {
  max-width: 700px;
  margin: auto;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #423c3c;

  margin-bottom: 35px;
  margin-top: 25px;
}
#home p {
  max-width: 700px;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #423c3c;
  margin-bottom: 185px;
}
.logo {
  position: fixed;
  bottom: 21px;
  right: 33px;
}
#options {
  margin-top: 32px;
}
.figures {
  display: inline-block;
  text-align: center;
  width: 49%;
  margin: 0px;
  margin-top: 32px;
}
#options h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 25px;
}
#options p {
  max-width: 400px;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
#options :nth-child(4) {
  margin-bottom: 118px;
}
#registration {
  margin-top: 53px;
}
#registration h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #373867;
  margin-top: 53px;
  margin-bottom: 90px;
}
#registration label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}
.form-structure {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
}
.rb {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
}
textarea {
  resize: none;
}
#submit {
  width: 109px;
  height: 33px;
  background-color: #aace9b;
  border-radius: 10px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2a2a32;
  margin-top: 24px;
  margin-bottom: 181px;
}
#about-us {
  margin-top: 133px;
}
#about-us h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #373867;
  margin-bottom: 147px;
}
.rectangle {
  width: 804px;
  height: 343px;
  background-color: rgba(170, 206, 155, 0.25);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 181px;
}
#about-us p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2a2a32;
}
#activities {
  margin-left: 406px;
  text-align: left;
  margin-top: 95px;
  margin-bottom: 33px;
}
#activities h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #373867;
  text-align: center;
  margin-bottom: 96px;
}
#activities figure {
  display: inline-block;
  width: 33%;
  margin: 0px;
  text-align: center;
  margin-bottom: 100px;
}
#activities img {
  width: 283px;
  height: 181px;
}
#activities figure h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
#activities :nth-child(6) {
  margin-bottom: 181px;
}
#membership {
  margin-top: 133px;
  margin-bottom: 128px;
  align-items: center;
}
#membership h3 {
  display: inline-block;
  border-radius: 5px;
  width: 311px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 40px;
  text-align: center;
}
#membership-black {
  background-color: #2a2a32;
  color: white;
}
#membership-classic {
  background-color: #cccbcb;
}
#membership-only {
  background-color: #ededed;
}
#membership ul {
  max-width: 250px;
  text-align: left;
  margin: auto;
}
#membership li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 35px;
}
footer {
  margin-left: 335px;
  margin-top: 128px;
  text-align: center;
}
footer li {
  display: inline-block;
  margin-bottom: 75px;
  margin-right: 55px;
}
footer img {
  width: 24px;
  height: 24px;
}
footer p {
  display: block;
}
