header {
  position: fixed;
  text-align: center;
  justify-content: center;
  height: 118px;
  width: 100vw;
  background-color: #373867;
}
header h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}
main {
  padding-top: 118px;
}
aside {
  position: fixed;
  height: 100vh;
  width: 335px;
  background-color: #f6f6f6;
}
aside #searchSidebar {
  width: 255px;
  height: 36px;
  margin-left: 40px;
  margin-top: 16px;
  margin-bottom: 15px;
  background: #ffffff;
  border-radius: 4px;
}
nav {
  margin-bottom: 134px;
}
nav div {
  margin-bottom: 43px;
}
nav input {
  display: inline-block;
  vertical-align: middle;
  width: 238px;
  height: 49px;
  margin: 0px;
  background-color: #aace9b;
  border-radius: 10px;
  border: none;

  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
nav img {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 39px;
  margin-left: 15px;
  margin-right: 22px;
}
nav :nth-child(3) img {
  width: 44px;
  height: 29px;
}
#asideP {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 45px;
}
#sidebar ul{
    margin-left: 37px;
}
#sidebar li{
    margin-bottom: 39px;
}
#sidebar li a, #sidebar li p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: bold;
}
#sidebar a{
    text-decoration: none;
}
#sidebar img{
    width: 30px;
    height: 30px;
}
#sidebar a, #sidebar img, #sidebar p{
    vertical-align: middle;
}
#cajaP{
    vertical-align: top;
    display: inline-block;
}
section {
  margin-left: 335px;
  text-align: center;
}
#home h2 {
  text-transform: uppercase;
}
.logo {
  position: fixed;
  bottom: 21px;
  right: 33px;
}
#options figure {
  display: inline-block;
  text-align: center;
  width: 49%;
  margin: 0px;
}
#registration {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#registration form label,
input,
textarea {
  display: block;
  margin: auto;
}
.rectangle {
  width: 804px;
  height: 343px;
  background-color: rgba(170, 206, 155, 0.25);
  border-radius: 5px;
  display: inline-block;
}
#about-us p {
  color: #2a2a32;
  margin-top: 90px;
  margin-left: 75px;
  margin-right: 75px;
}
#activities {
  margin-left: 406 px;
  text-align: left;
}
#activities figure {
  display: inline-block;
  width: 33%;
  margin: 0px;
}
#membership h3:nth-of-type(1) {
  display: inline-block;
  background-color: #2a2a32;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
}
#membership h3:nth-of-type(2) {
  display: inline-block;
  background-color: #cccbcb;
  padding: 8px 16px;
  border-radius: 5px;
}
#membership h3:nth-of-type(3) {
  display: inline-block;
  background-color: #ededed;
  padding: 8px 16px;
  border-radius: 5px;
}
footer {
  margin-left: 335px;
}
