<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Mega rocket SA</title>
</head>

<body>
    <header class="header-login">
        <h2 class="title-login">
            Mega rocket SA
        </h2>
    </header>
    <main>
        <h1>Log In</h1>
        <img src="/assets/img/body/logo.png" alt="Logo de la paguina">
        <form id="registroForm" action=#>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="checkbox" name="remember" id="remember">
            <label for="remember">Remember me</label>
            <label><a href=#>Forgot password?</a></label>
            <input type="submit" value="login">
        </form>
        <p>Are you new here? <a href="#">Register</a></p>
    </main>
</body>

</html>