/* Estilos para dispositivos móviles (mínimo 390px y máximo 600px) */
@media only screen and (min-width: 390px) and (max-width: 600px) {
  #search-Sidebar {
    display: none;
  }
  .div-Search {
    height: 103px;
    width: 103px;
    background-color: #373867;
  }
  aside {
    width: 124px;
  }
  .icon-big {
    display: none;
  }
  .button-sidebar {
    display: none;
  }
  #asideP {
    display: none;
  }
  aside a{
    display: none;
  }
  aside p{
    display: none;
  }
}

/* Estilos para tablets (mínimo 601px y máximo 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #incon-search {
    display: none;
  }
  .div-Search {
    height: 160px;
    width: 292px;
    background-color: #373867;
    margin-bottom: 84px;
  }
  aside {
    width: 292px;
  }
  .icon-small {
    display: none;
  }
  #search-Sidebar {
    width: 222px;
    height: 44px;
    margin-left: 29px;
    margin-top: 53px;
    background: #ffffff;
    border-radius: 4px;
  }
  nav input {
    width: 207px;
    height: 59px;
    margin: 0px;
    background-color: #aace9b;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }
}

/* Estilos para escritorio (a partir de 1025px) */
@media only screen and (min-width: 1025px) {
  #incon-search {
    display: none;
  }
  aside {
    width: 335px;
  }
  .icon-small {
    display: none;
  }
  aside {
    margin-top: 118px;
  }
  #search-Sidebar {
    width: 255px;
    height: 36px;
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 4px;
  }
  nav input {
    width: 238px;
    height: 49px;
    margin: 0px;
    background-color: #aace9b;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }
}

aside {
  background-color: #f6f6f6;
  align-items: center;
  position: fixed;
  height: 100vh;
}
nav div {
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#info-img {
  width: 43px;
  height: 24px;
}
nav img {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 39px;
  margin-left: 15px;
  margin-right: 22px;
}
aside nav :nth-child(3) img {
  width: 44px;
  height: 29px;
}
aside li img{
    width: 30px;
    height: 30px;
}
