.side-bar {
  display: none;
}
.menu-sidebar {
  position: fixed;
  top: 15px;
  left: 15px;
}
.menu-sidebar:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  aside {
    top: 0;
  }
  .menu-sidebar {
    display: none;
  }
  .side-bar {
    background-color: #f6f6f6;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 335px;
    display: flex;
    flex-direction: column;
  }
  .search-Sidebar {
    width: 255px;
    height: 36px;
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 4px;
  }
  .side-bar-nav {
    margin-bottom: 150px;
  }
  .side-bar-nav div {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .side-bar li img {
    width: 30px;
    height: 30px;
  }
  .icon-big {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 39px;
    margin-left: 15px;
    margin-right: 22px;
  }
  .incon-search,
  .icon-small {
    display: none;
  }
  .button-sidebar {
    width: 238px;
    height: 49px;
    margin: 0px;
    background-color: #aace9b;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }
  .information-p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .side-bar-nav :nth-child(3) img {
    width: 44px;
    height: 29px;
  }
  .side-bar li {
    margin-bottom: 40px;
  }
  .side-bar a {
    text-decoration: none;
    color: black;
  }
  li p,
  li a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  .box-p {
    vertical-align: top;
    display: inline-block;
  }
}
